:host {
  --background-color-light: #e6e6e6;
  --background-color-dark: #1a2833;
  --backgournd-color-dark2:#3c5b72;
  --color-blanco:#ffffff;

  ion-item {
    --background: var(--color-blanco);
    --border-color: transparent;
  }
  ion-content.custom-content {
    --background: var(--background-color-light);
  }
  .container{
    background-color: var(--color-blanco);
    padding: 20px 10px;
    border-radius: 10px;
    margin: 10px 10px;
  }
  @media (prefers-color-scheme: dark) {
    ion-item{
      --background: var(--background-color-dark2);
      --border-color: transparent;
      
    }
    .container{
    background-color: var(--backgournd-color-dark2);
    padding: 20px 10px;
    border-radius: 10px; 
    margin: 10px 10px;
    }
    ion-content.custom-content {
      --background: var(--background-color-dark);
    }
    
  }
}
ion-fab {
  margin-bottom: var(--ion-safe-area-bottom, 0);
}
.custom-content {
  h1 {
    text-align: center;
    margin-top: 10px;
    font-weight: 300;
    font-size: 1.3em;
    margin-bottom: 20px;
  }
  .boton-primario {
    width: calc(100% - 20px);
    margin: 0 10px;
    --padding-top: 20px;
    --padding-bottom: 20px;
    font-size: 0.8em;
    height: 45px;
  }
  .input-con-borde {
    width: calc(100% - 20px);
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 8px 12px;
    margin: 10px;
    box-sizing: border-box;
    height: 45px;
    display: flex;
  }
}

.empty-state{
  display: flex;
  flex-direction: column;
  align-items: center;
}