<ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- <ion-title>Productos</ion-title> -->
    <ion-buttons slot="end">
      <img class="logo" src="../../../../assets/icon/logo.png" />
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="custom-content">
  <h1>Lista de Productos</h1>
  <div class="contenedor">
    <ion-button class="boton-primario"> Agregar producto </ion-button>

    <ion-item class="input-con-borde" fill="outline">
      <ion-input type="text" placeholder="Buscar producto"></ion-input>
      <ion-icon slot="end" name="search-outline"></ion-icon>
    </ion-item>
  </div>
</ion-content>
