:host {
  --background-color-light: #e6e6e6;
  --background-color-dark: #1a2833;
  --backgournd-color-dark2:#3c5b72;
  --color-blanco:#ffffff;

  ion-item {
    --background: var(--color-blanco);
    --border-color: transparent;
  }
  ion-content.custom-content {
    --background: var(--background-color-light);
  }
  .container{
    background-color: var(--color-blanco);
    padding: 20px 10px;
    border-radius: 10px;
    margin: 10px 10px;
  }
  @media (prefers-color-scheme: dark) {
    ion-item{
      --background: var(--background-color-dark2);
      --border-color: transparent;
      
    }
    .container{
    background-color: var(--backgournd-color-dark2);
    padding: 20px 10px;
    border-radius: 10px; 
    margin: 10px 10px;
    }
    ion-content.custom-content {
      --background: var(--background-color-dark);
    }
    
  }
}